h2{
    color: purple;
}

label{
    color: black;
}

.custom-btn {
  background-color: #9370DB !important;
  border-color: #9370DB !important;
}

.custom-btn:hover {
  background-color: #7256ab !important; 
}